body {
	background-image: url("../images/cork-wallet.png");
}
.container {
	
	height: 400px;
	margin-top: 2%;
}

#answerImage {

}
header {
	font-size: 2.5em;
	font-family: 'PT Sans Narrow', sans-serif;
}

img {
	width: 300px;
	padding: 10px;
}
#begin {
	position: relative;
	top: 25%;
	left: 25%;
	background-color: red;
	font-size: 1.25em;
	font-family: 'PT Sans Narrow', sans-serif;
	cursor: default;
	width: 50%;

}
#begin:hover {
	background-color: yellow;

}
.choice:hover {
	background-color: yellow;
	width: 25%;

}
#stats {
		cursor: default;
		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 1.25em;
}
#question {
	font-size: 1.5em;
	font-family: 'Open Sans Condensed', sans-serif;
}
#result {
		cursor: default;
		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 1.25em;
	}
#choices {
		cursor: default;
		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 1.25em;
	}
#correctAnswer {
		cursor: default;
		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 1.25em;
	}